/.idea
/.vscode
/node_modules
/vendor

.env
.env.*
!/.env.example

/storage/*.key
/storage/app/*
!/storage/app/public
!/storage/app/public/.gitignore

/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

/bootstrap/cache/*
!bootstrap/cache/.gitignore

/public/storage
/public/hot
/public/build
